<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>142552085563-bdncarl20ish3881lna8h4ttk9outb57.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.142552085563-bdncarl20ish3881lna8h4ttk9outb57</string>
	<key>API_KEY</key>
	<string>AIzaSyC8RAJT_Oomt5sNHcfKYz25iVincuPtIvc</string>
	<key>GCM_SENDER_ID</key>
	<string>142552085563</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CMUIS67443.Split</string>
	<key>PROJECT_ID</key>
	<string>split-3a1b3</string>
	<key>STORAGE_BUCKET</key>
	<string>split-3a1b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142552085563:ios:9cd746a6faa6dc371b581e</string>
</dict>
</plist>